.holder-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.product-div{
    border-radius: 7px;
    background: gainsboro;
    border: 2px solid darkgray;
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name{
    font-weight: bold;
}

.p-image{
    border-radius: 7px;
    height: 20rem;
    width: 20rem;
    margin-top: 2.5rem;
}